{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Jurassic World{% endblock %}

{% block content %}

    <div class="container-address mt-4">
        <h1>Modifier mon mot de passe</h1>
        <a href="{{path('account')}}">Retourner à mon compte</a></br> 
        <hr>
        {% if notification %}
        
        <div class="text-center alert 
        {% if alert == 1 %}
            alert-danger
        {% elseif alert == 0 %}
            alert-success
        {% endif %}
        ">{{notification}}</div>
        
        {% endif %}
        {{form(form)}}
        <hr>
    </div>
    
{% endblock %}