{% extends 'base.html.twig' %}
{% block title %}Bienvenue - Jurassic World
{% endblock %}
{% block effet %}{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
<h1 class="text-center mt-3 mb-4 text-primary bg-secondary rounded-2 title-important">Nos attractions du moment</h1>
<div class="row attraction-container d-flex justify-content-center">
	{% for attraction in bestAttractions %}
	<div class="col-sm-12 col-md-6 col-lg-4">
		{% include "attraction/single_attraction.html.twig" %}
	</div>
	{% endfor %}
</div>
<!-- START THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette text-primary bg-secondary rounded-2 p-2 d-flex justify-content-center align-items-center">
	<div class="col-md-7">
		<h2 class="featurette-heading mt-1">Une expérience unique au monde</h2>
		<p class="lead">Venez découvrir l’expérience la plus extraordinaire, dans un parc de 2000 hectares situé sur l’archipel des Bahamas. Allez à la rencontre des dinosaures tel qu’un T-Rex de 15 mètres et plongez d’une cascade de 25 mètres de haut. Un service de bateaux navette est mis en place toutes les heures pour relier le continent au parc.</p>
	</div>
	<div class="col-md-5 ">
		<img class="img-fluid rounded-2" src="assets/img/Jurassic-world-park.jpg" alt="experience jurassic world">
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette text-primary bg-secondary rounded-2 p-2 d-flex justify-content-center align-items-center">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading mt-1">Découvrez nos restaurants</h2>
		<p class="lead">Pour parfaire une belle journée, le repas est primordial ! Vous profiterez sur place d’un bon repas, à la mesure de vos envies : buffets, plats, sandwiches, pizzas….Découvrez nos restaurants thématiques et les nombreux kiosques gourmands pour tous les budgets.</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img class="img-fluid rounded-2" src="assets/img/Jurassic-world-restaurant.jpg" alt="restaurant jurassic world">
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette text-primary bg-secondary rounded-2 p-2 d-flex justify-content-center align-items-center">
	<div class="col-md-7">
		<h2 class="featurette-heading mt-1">Votre sécurité, notre priorité !</h2>
		<p class="lead">Il est important d’assurer la sécurité de tous ! Pour les différents corps de métier, les animaux et pour les visiteurs. Pour permettre cela des protocoles sont mis en place, en visitant notre parc nous vous garantissons une sécurité répondant aux exigences gouvernementales lié aux dinosaures.</p>
	</div>
	<div class="col-md-5 ">
		<img class="img-fluid rounded-2" src="assets/img/Jurassic-world-enfant.jpg" alt="securité dans le parc">
	</div>
</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
