{% extends 'base.html.twig' %}

{% block title %}Je réserve - Jurassic World{% endblock %}
{% block effet %}{% endblock %}
{% block content %}

    <div class="container-address mt-4 p-2 bg-secondary rounded-3 text-primary">
        <div class="col-md-12 d-flex justify-content-between">
            <h2>Je réserve</h2>
            <a href="{{path('home')}}"><img src="{{asset('assets/img/close.svg')}}" alt="" width="20px"></a>

        </div>
        
        {% if notification %}
        
        <div class="text-center alert alert-danger">{{notification}}</div>
        
        {% endif %}
        <p>Pour valider votre réservation vous devez disposez d'un compte enregistré ainsi qu'une adresse de facturation.</p>
        <hr>
        {{ form(form) }}
    </div>
    
 
{% endblock %}