{% extends 'base.html.twig' %}

{% block title %}Je réserve - Jurassic World{% endblock %}
{% block effet %}{% endblock %}
{% block content %}

    <div class="container-address mt-4 p-2 bg-info rounded-3 text-white">
        <h1>Je réserve</h1>
        <a href="{{path('home')}}" class="btn btn-secondary mb-1">Retour</a></br> 
        {% if notification %}
        
        <div class="text-center alert alert-danger">{{notification}}</div>
        
        {% endif %}
        <p>Pour valider votre réservation vous devez disposez d'un compte enregistré ainsi qu'une adresse de facturation.</p>
        <hr>
        {{ form(form) }}
    </div>
    
 
{% endblock %}