*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    background-image: url(../../img/pexels-oliver-sjöström-931007.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-perso{
    background-color: #04142fc4;
}

a{
    color: green;
    
}

a:hover{
    text-decoration: none;
}

/*------------------------------ NAVBAR--------------------------------------------- */

.navbar-item-custom, .navbar-item-custom a{

color: #FFF;

}

.img-navbar{
    width: 80px;
}

.navbar-perso{
    opacity: 0.9;
    padding: 0 20px 2px 20px;
    
}


/*------------------------------ FOOTER--------------------------------------------- */


.footer-custom{

    text-align: center;
    /* position: absolute; */
    opacity: 0.9;
    width: 100%;
    background-color: #DFEAFF;
    padding-top: 25px;
    margin-top: 50px;
    

  
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/*------------------------------ ATTRACTION SINGLE--------------------------------------------- */


.attraction-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: solid 1px black;
    background-color: whitesmoke;
    border-radius: 5px;
}


.btn-perso{
    text-decoration: none;
    background-color: seagreen;
    overflow: hidden;
    position: relative;
    
}

/* Annimation Bouton */

.btn-perso::after{
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(4, 46, 9, 0.267);
    display: block;
    position: absolute;
    left: -170px;
    bottom: -50px;
    transform: rotate(-45deg);
}

.btn-perso:hover::after{
    transition: transform 0.3s 0.1s linear;
    transform: translateX(550px);
}

.h1-perso{
    border-radius: 5px;
    background-color: #04142fc4;
 
}

.container-detail-attraction{
    padding: 7px;
    border-radius: 5px;
}

/* -------------------------FORMULAIRE INSCRIPTION------------------ */

.container-form-inscription, .container-form-connexion{
    background-color: rgba(128, 128, 128, 0.801);
    padding: 30px;
    border: grey solid 2px;
    border-radius: 15px;
    color: white;
    
    
}

/* Item Mon compte */

.account-item{
    background-color: #f1F2f6;
    padding: 70px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-item a {
    text-transform: uppercase;
    font-size: 14px;
    color: #4b6584;
    font-weight: bold;
}

.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}

.container-compte{
    background-color: grey;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
    height: 100%;
    border: grey solid 2px;
    border-radius: 15px;
    color: white;
}