body{
    position: relative;
    background-image: url(../../img/pexels-oliver-sjöström-931007.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------ NAVBAR--------------------------------------------- */

.navbar-item-custom, .navbar-item-custom a{

color: #FFF;

}

.img-navbar{
    width: 80px;
}

.navbar-perso{
    opacity: 0.9;
    padding: 0 0 2px 0;
    
}


/*------------------------------ FOOTER--------------------------------------------- */


.footer-custom{

    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #DFEAFF;
    padding-top: 25px;
    margin-top: 50px;

    /* Footer fixé bottom */
}


/*------------------------------ ATTRACTION SINGLE--------------------------------------------- */


.attraction-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 5px;
}


.btn-perso{
    text-decoration: none;
    background-color: seagreen;
    
}

.h1-perso{
    border-radius: 5px;
}

.container-detail-attraction{
    border-radius: 5px;
}