{% extends 'base.html.twig' %}

{% block content %}

<div class="bg-info p-2 mt-3 rounded-3 text-white">
    <h1 class="text-white mt-3 ">Inscription</h1>
        {% if notification %}
            <div class="alert alert-info">{{notification}}</div>
        {% endif %}
        <div class="container-form-inscription">
            {{ form(form) }}
        </div>
</div>
    
    
   

{% endblock %}