{% extends 'base.html.twig' %}
{% block effet %}{% endblock %}
{% block footerfixed %}{% endblock %}
{% block content %}
<div class="row mt-4 bg-secondary p-2 text-primary rounded-3 overflow-hidden">
		<div class="col-12 d-flex justify-content-between">
			<h2 class="text-center title-important">Nos commentaires</h2>
			<a href="{{path('account')}}">
				<img src="{{asset('assets/img/close.svg')}}" alt="page précédente" width="20px">
			</a>
		</div>
		<div class="col-12 d-flex">
			<h3>Moyenne note {{round}}</h3>
			<img class="pb-2" src="{{ asset('assets/img/ratings_star.svg') }}" alt="étoile évaluation" width="35px">
		</div>	
	<div class="row d-flex justify-content-around">
		{% for rating in ratings %}
			{% include "rating/rating_view_inc.html.twig" %}
		{% endfor %}
	</div>
</div>
{% endblock %}
