{% extends 'base.html.twig' %}
{% block effet %}{% endblock %}
{% block footerfixed %}{% endblock %}
{% block content %}
<div class="container-address mt-4 bg-secondary p-2 text-primary rounded-3">
	<div class="col-md-12 d-flex justify-content-between">
		<h2 class="text-center">Ajouter un avis</h2>
		<a href="{{path('account')}}">
			<img src="{{asset('assets/img/close.svg')}}" alt="page précédente"width="20px">
		</a>
	</div>
	{{form(form)}}
</div>
{% endblock %}