{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe - Jurassic World
{% endblock %}
{% block content %}
<div class="row mt-4 bg-secondary p-2 text-primary rounded-3">
	<div class="col-md-12 d-flex justify-content-between">
		<h2 class="text-center">Reinitialisation mot de passe</h2>
		<a href="{{path('account')}}">
			<img src="{{asset('assets/img/close.svg')}}" alt="page précédente" width="20px">
		</a>
	</div>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-info">{{message}}</div>
	{% endfor %}
	{{form(form)}}
</div>
{% endblock %}
